<h1>Rublog</h1>
<table>
  <% @articles.each do |article| %>
    <tr>
      <thead>
      <tr>
        <th><%= article.title %></th>
        <th colspan="3"></th>
      </tr>
      <tr>
        <th><%= article.categories %></th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <td><%= article.text %></td>

      </tbody>
    </tr>
  <% end %>
</table>